---
import Layout from "../layouts/IndexLayout.astro";
import Card from "../components/Card.astro";
import SocialMediaInfo, { SocialMedia } from "../utils/socialMedia";
import Routes from "../utils/routes";
import { Icon } from "astro-icon";
import Pill from "../components/Pill.astro";

const infoCards: Array<SocialMedia> = SocialMediaInfo;
const title = "Cameron Carley";
---

<Layout title={title}>
	<main>
		<span class="center-text">
			<h1>
				My name is <span class="text-gradient">{title}.</span>
			</h1>
			<h2>Welcome to my humble abode👋</h2>
		</span>
		<picture class="center">
			<source type="image/webp" srcset="profile.webp" />
			<img class="round-img" src="profile.webp" />
		</picture>
		<div class="pill-nav">
			{
				Routes.length ? (
					Routes.map((route) => {
						return (
							<Pill
								ariaLabel={route.ariaLabel}
								title={route.title}
								hrefLink={route.hrefLink}
								iconName={route.iconName}
							/>
						);
					})
				) : (
					<p>There are no routes for this website</p>
				)
			}
		</div>
		<ul role="list" class="link-card-grid">
			{
				infoCards.length ? (
					infoCards.map((card) => {
						return (
							<Card
								color={card.color}
								href={card.href}
								title={card.title}
								body={card.body}
								iconName={card.iconName}
							/>
						);
					})
				) : (
					<div>"Nothing currently going on"</div>
				)
			}
		</ul>
	</main>
</Layout>

<style>
	.center-text {
		text-align: center;
	}
	main {
		margin: auto;
		margin-top: 3rem;
		padding: 1.5rem;
		max-width: 70ch;
		background-color: rgba(12, 30, 45, 0.7);
		backdrop-filter: blur(10px);
		border-radius: 2rem;
		border-width: 0.3rem;
		border-color: rgba(12, 30, 45, 0.3);
	}
	.main-card-list {
		max-width: 50ch;
	}

	h1 {
		margin-left: 1rem;
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
		color: azure;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 2rem;
		color: azure;
	}



	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 35%;
	}

	.pill-nav {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.round-img {
		border-radius: 50%;
		margin-bottom: 1.5rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
