---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { SocialMedia } from "../utils/socialMedia";
import SocialMediaInfo from "../utils/socialMedia";

const infoCards: Array<SocialMedia> = SocialMediaInfo;
---

<Layout title="Cameron Carley's Personal Website">
	<main>
		<span class="headings">
			<h1>
				My name is <span class="text-gradient">Cameron Carley.</span>
			</h1>
			<h2>Welcome to my humble abode👋</h2>
		</span>
		<picture class="center">
			<source type="image/webp" srcset="profile.webp" />
			<img class="round-img" src="profile.webp" />
		</picture>
		<div class="pill-nav">
			<a href="/index">Home</a>
			<a href="/contact">Contact</a>
			<a href="#about">About</a>
		</div>
		<ul role="list" class="link-card-grid">
			{
				infoCards.length ? (
					infoCards.map((card) => {
						return (
							<Card
								color={card.color}
								href={card.href}
								title={card.title}
								body={card.body}
								iconName={card.iconName}
							/>
						);
					})
				) : (
					<div>"Hi"</div>
				)
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 3rem;
		padding: 1.5rem;
		max-width: 70ch;
		background-color: rgba(12, 30, 45, 0.7);
		backdrop-filter: blur(10px);
		border-radius: 2rem;
		border-width: 0.3rem;
		border-color: rgba(12, 30, 45, 0.3);
	}
	.main-card-list {
		max-width: 50ch;
	}

	h1 {
		margin-left: 1rem;
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
		color: azure;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 2rem;
		color: azure;
	}

	.pill-nav a {
		color: white;
		margin-bottom: 1.5rem;
		padding: 8px;
		font-size: 15px;
		border-radius: 50px;
		background-color: rgba(36, 93, 125, 0.207);
		backdrop-filter: blur(1px);
		border-width: 0.2rem;
		border-color: rgba(12, 30, 45, 0.3);
	}

	/* Change the color of links on mouse-over */
	.pill-nav a:hover {
		color: white;
		background-color: rgba(52, 149, 205, 0.41);
		backdrop-filter: blur(1px);
		border-width: 0.2rem;
		border-color: rgba(12, 30, 45, 0.205);
	}

	/* Add a color to the active/current link */
	.pill-nav a.active {
		color: white;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 35%;
	}

	.pill-nav {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.round-img {
		border-radius: 50%;
		margin-bottom: 1.5rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
