---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { SocialMedia } from "../utils/socialMedia";
import SocialMediaInfo from "../utils/socialMedia";
import { Icon } from "astro-icon";

const infoCards: Array<SocialMedia> = SocialMediaInfo;
---

<Layout title="Cameron Carley's Personal Website">
	<main>
		<span class="headings">
			<h1>
				My name is <span class="text-gradient">Cameron Carley.</span>
			</h1>
			<h2>Welcome to my humble abode👋</h2>
		</span>
		<picture class="center">
			<source type="image/webp" srcset="profile.webp" />
			<img class="round-img" src="profile.webp" />
		</picture>
		<div class="pill-nav">
			<a href="/index">
				<Icon class="pill-icon" name="home" />
				Home
			</a>
			<a href="/contact">
				<Icon class="pill-icon" name="contact" />
				Contact
			</a>
			<a href="#about">
				<Icon class="pill-icon" name="about"/>
				About
			</a>
		</div>
		<ul role="list" class="link-card-grid">
			{
				infoCards.length ? (
					infoCards.map((card) => {
						return (
							<Card
								color={card.color}
								href={card.href}
								title={card.title}
								body={card.body}
								iconName={card.iconName}
							/>
						);
					})
				) : (
					<div>"Hi"</div>
				)
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 3rem;
		padding: 1.5rem;
		max-width: 70ch;
		background-color: rgba(12, 30, 45, 0.7);
		backdrop-filter: blur(10px);
		border-radius: 2rem;
		border-width: 0.3rem;
		border-color: rgba(12, 30, 45, 0.3);
	}
	.main-card-list {
		max-width: 50ch;
	}

	h1 {
		margin-left: 1rem;
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
		color: azure;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 2rem;
		color: azure;
	}

	.pill-nav a {
		color: white;
		margin-bottom: 1.5rem;
		padding: 5px;
		margin-right:3px;
		font-size: 15px;
		border-radius: 50px;
		background-color: rgba(36, 93, 125, 0.207);
		backdrop-filter: blur(1px);
		border-width: 0.2rem;
		border-color: rgba(12, 30, 45, 0.3);
	}

	/* Change the color of links on mouse-over */
	.pill-nav a:hover {
		color: white;
		background-color: rgba(52, 149, 205, 0.41);
		backdrop-filter: blur(1px);
		border-width: 0.2rem;
		border-color: rgba(12, 30, 45, 0.205);
	}

	/* Add a color to the active/current link */
	.pill-nav a.active {
		color: white;
	}

	.pill-icon{
		height:15px;
		width:15px;
		float:left;
		margin-top:3px;
		margin-right:7px;
	}


</style>
